html {
   text-align: center;
   background: #000428;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #004e92, #000428);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #004e92, #000428);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: Lato;
}

#container {
   width: 800px;
   height: 600px;
   margin: 250px auto;
   -webkit-box-shadow: 7px 7px 15px 1px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 7px 7px 15px 1px rgba(0, 0, 0, 0.75);
   box-shadow: 7px 7px 15px 1px rgba(0, 0, 0, 0.75);
}

h2 {
   color: white;
   text-align: center;
   font-size: 60px;
}

p {
   color: white;
}

h3 {
   color: white;
   font-weight: 900;
}

#roundsSection {
   padding: 10px;
}

#stripe>button {
}

button {
   cursor: pointer;
   font-size: 40px;
}

#chevronUpBtn {
}

#chevronDownBtn {
}

#restart {
}

#result {
   color: white;
}

#score {
   color: white;
}
