html {
   text-align: center;
   background: #000428;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #004e92, #000428);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #004e92, #000428);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: Lato;
}

h2 {
   color: white;
   text-align: center;
   font-size: 60px;
}

p {
   color: white;
   font-size: 20px;
}

p span {
   display: block;
}

h3 {
   color: white;
   font-weight: 900;
}

#roundsSection {
   padding: 17px;
}

button {
   cursor: pointer;
   margin-left: 20px 30px;
   -webkit-transition-duration: 0.4s;
   /* Safari */
   transition-duration: 0.4s;
}

button:hover:enabled {
   color: steelblue;
}

button:disabled {
   cursor: not-allowed;
}

#rock {
   font-size: 75px;
}

#paper {
   font-size: 75px;

}

#scissors {
   font-size: 75px;

}

#chevronUpBtn {
   font-size: 40px;
}

#chevronUpBtn:hover {
   color: blue;
   -webkit-transition-duration: 0.4s;
   /* Safari */
   transition-duration: 0.4s;
}

#chevronDownBtn {
   font-size: 40px;
}

#chevronDownBtn:hover {
   color: red;
   -webkit-transition-duration: 0.4s;
   /* Safari */
   transition-duration: 0.4s;
}

#restart {
   padding: 10px 50px 10px 50px;
   border-radius: 25px;
}

#result {
   color: white;
}

#score {
   color: white;
   margin-bottom: 30px;
}
